body{
  background: pink;
  margin: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:invalid{
  background: rgb(255, 146, 240);
}
.container{
  background: rgb(255, 146, 240);
  width: 40%;
  height: auto;
  padding: 15px;
  position: absolute;
  left: 30%;
  top: 1%;
  border-radius: 5px;
}
.input-form{
  width: 95%;
  background: white;
  margin: 0,9%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.input-form-value{
  width: 57,5%;
  background: white;
  margin: 1%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.input-form-change{
  color: rgb(244, 244, 244);
  background: rgb(255, 146, 240);
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 15px;
  margin: 10px;
  width: 35%;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
.btn-form-pay{
  color: white;
  background: pink;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 15px;
  margin: 10px;
  width: 35%;
  float: right;
  cursor: pointer;
}
.btn-form-pay:hover{
  background: aliceblue;
}
.btn-form-change:hover{
  background: rgb(255, 146, 240);
}
table{
  margin-top: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid;
}
th,td{
  background: rgb(255, 146, 240);
}
th:hover{
  box-shadow: 2px 0px 10px 0px;
  border: 1px solid;
}
th{
  border: 1px solid;
}
@media only screen and (max-width:700px) {
  .container{
    width: 90%;
    left: 6%;
  }
  .input-form-value{
    width: 49%;
  }
}
footer{
  background: rgb(255, 146, 240);
  width: 100%;
}